#magic-circle {
  width: inherit;
  height: inherit;
}

#magic-circle-img {
  width: 100%;
  height: 80%;
}
#matieres {
  top: 70%;
  left: 80%;
  position: absolute;
  text-align: right;
}

.player-statistic {
  position: absolute;
  font-size: 1.5em;
  font-weight: bold;
}

#magic-circle-img {
  position: absolute;
  height: 100%;
  width: 100%;
}

.stat-button {
  transform: scale(1.5, 1.5);
  background: url(/circle.png);
  background-size: 100% 100%;
  border: none;
  font-weight: bold;
}
