.card-remove {
  width: 20%;
  color: white;
  position: relative;
  top: 8px;
  left: 0;
}

.card-name {
  position: relative;
  color: white;
  left: 14px;
  top: 5px;
  text-decoration: underline;
}
.card-description {
  position: relative;
  color: white;
  top: 15px;
  left: 25px;
  width: 120px;
  height: 130px;
  overflow-y: scroll;
}
.card-description::-webkit-scrollbar {
  display: none;
}

.card-element {
  border: solid;
  background-repeat: no-repeat;
  background-size: contain;
  width: 164px;
  height: 208px;
}
.card-category-C {
  background-image: url("/card-background-C.png");
}
.card-category-R {
  background-image: url("/card-background-R.png");
}
.card-category-L {
  background-image: url("/card-background-L.png");
}

#card-table {
  width: 60%;
  float: left;
}
.card-td {
  width: 25%;
  height: 33%;
}
#add-card {
  border: solid;
  position: absolute;
  right: 20px;
}
