#dice-area {
  width: 100%;
  height: 100%;
}

#dice-table {
  height: 30%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.dice-span {
  position: relative;
}
.dice-span > .d20 {
  top: 200%;
}

#actions {
  height: 70%;
}
#text-resume {
  border-top: solid;
  overflow-y: scroll;
  height: 92%;
  display: flex;
  flex-direction: column-reverse;
}

.set-bonus-selection {
  border: none;
  background: none;
}

#roll-resume {
  display: inline;
  padding-left: 2px;
}

.rollstr-top {
  display: flex;
  flex-direction: column;
}
.roll-player-name,
.result-strong {
  display: contents;
}

.rollstr-bottom {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  font-size: small;
  /*color: dimgray;*/
  top: -15%;
}
