#dice-area {
  width: 100%;
  height: 100%;
}

#dice-table {
  height: 75%;
  width: 100%;
}

.dice-tr {
  width: 33%;
}

.dice-tr > td {
  width: 50%;
}

#actions {
  height: 20%;
}
#text-resume {
  overflow-y: scroll;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
}
